@model Delivery.Data.Objects.Entities.Shisha
@{
    Layout = "../Shared/_LayoutForms.cshtml";
    ViewBag.Title = "Delete";
    ViewBag.Header = "Shisha";
    ViewBag.Subtitle = "Delete shisha pot";
}
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.AvailableQuantity)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.AvailableQuantity)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.SafetyStock)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.SafetyStock)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.UnitAmount)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.UnitAmount)
    </dd>
</dl>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShishaId },new {@class = "btn btn-primary"})
</p>
