@model IEnumerable<Delivery.Data.Objects.Entities.Shisha>

@{
    ViewBag.Title = "Index";
}

<h2> </h2>

<p>
    @Html.ActionLink("Create New", "Create",null,new {@class = "btn btn-success"})
</p>
<table class="table table-condensed">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ShishaId }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ShishaId }, new { @class = "btn btn-default" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ShishaId }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
