@using Delivery.Data.Objects.Entities
@using Delivery.Data.Service.Enums
@{
    var loggedinuser = Session["shishaloggedinuser"] as AppUser;
}
@if (loggedinuser != null)
{
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                    </div>
                    <!-- /input-group -->
                </li>
                @if (loggedinuser.Role == UserType.Administrator.ToString())
                {
                    <li>
                        <a href="@Url.Action("AdminHome", "Home")"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                }
                @if (loggedinuser.Role == UserType.ProcurementOfficer.ToString())
                {
                    <li>
                        <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                }
                @if (loggedinuser.Role == UserType.User.ToString())
                {
                    <li>
                        <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                }
                @if (loggedinuser.Role == UserType.DeliveryMan.ToString())
                {
                    <li>
                        <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                }
                @if (loggedinuser.Role == UserType.Administrator.ToString())
                {
                    <li>
                        <a href="#"><i class="fa fa-user-times fa-fw"></i> Users<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="@Url.Action("Create", "AppUsers")">New User</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "AppUsers")">Users</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                }
                @if (loggedinuser.Role == UserType.ProcurementOfficer.ToString())
                {
                    <li>
                        <a href="#"><i class="fa fa-puzzle-piece fa-fw"></i> Purchases<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="@Url.Action("Create", "Orders")">New Order</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Orders")">Orders</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                }
                @if (loggedinuser.Role != UserType.ProcurementOfficer.ToString())
                {
                    <li>
                        <a href="#"><i class="fa fa-first-order fa-fw"></i> Orders<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            @if (loggedinuser.Role == UserType.User.ToString())
                            {
                                <li>
                                    <a href="@Url.Action("Create", "Orders")">New Order</a>
                                </li>
                            }
                            <li>
                                <a href="@Url.Action("Index", "Orders")">Orders</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                }
                @if (loggedinuser.Role == UserType.Administrator.ToString())
                {
                    <li>
                        <a href="#"><i class="fa fa-dot-circle-o fa-fw"></i> Shisha Pots<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="@Url.Action("Create", "Shishas")">New Shisha Pot</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Shishas")">Shisha Pots</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                }
                @if (loggedinuser.Role == UserType.Administrator.ToString())
                {
                    <li>
                        <a href="#"><i class="fa fa-coffee fa-fw"></i> Shisha Flavours<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="@Url.Action("Create", "Flavours")">New Shisha Flavour</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Flavours")">Shisha Flavours</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                }
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
}