@model Delivery.Data.Objects.Entities.Order
@{
    Layout = "~/Views/Shared/_LayoutOrder.cshtml";
    ViewBag.Title = "Create";
}
@using (Html.BeginForm("Create", "Orders", FormMethod.Post, new {@class = "form-inline"}))
{
    <fieldset>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})

        <div class="form-group">
            <label for="first-name">Name:</label><br>
            <input type="text" name="Name" class="first-name form-control" id="first-name">
        </div>
        <div class="form-group">
            <label for="last-name">Location:</label><br>
            <input type="text" name="Location" class="last-name form-control" id="last-name">
        </div>
        <div class="form-group">
            <label for="height">Email:</label><br>
            <input type="text" name="Email" class="height form-control" id="height">
        </div>
        <div class="form-group">
            <label for="weight">Phone Number:</label><br>
            <input type="text" name="Mobile" class="weight form-control" id="weight">
        </div>
        <div class="form-group">
            <label for="first-name">Shisha:</label><br>
            @Html.DropDownList("ShishaId", null, new {@class = "form-control", id = "first-name"})
            @Html.ValidationMessageFor(model => model.ShishaId, "", new {@class = "text-danger"})
        </div>

        <div class="form-group">
            <label for="first-name">Flavour:</label><br>
            @Html.DropDownList("FlavourId", null, new {@class = "form-control"})
            @Html.ValidationMessageFor(model => model.FlavourId, "", new {@class = "text-danger"})
        </div>

        <div class="form-group">
            <label for="first-name">Quantity:</label><br>
            <input type="text" name="Quantity" class="form-control" id="first-name">
            @Html.ValidationMessageFor(model => model.Quantity, "", new {@class = "text-danger"})
        </div>
        <input type="submit" value="Save" class="btn btn-default" />

    </fieldset>
}



@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@