@using Delivery.Data.Service.Enums
@model Delivery.Data.Objects.Entities.Order
@{
    Layout = "../Shared/_LayoutForms.cshtml";
    ViewBag.Title = "Order";
    ViewBag.Header = "Purchase Item";
    ViewBag.Subtitle = "Choose an item and purchase it";
}
@section css{
    <link href="~/Content/select2.min.css" rel="stylesheet" />
}
@using (Html.BeginForm("Create", "Orders", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new {@class = "text-danger"})

    <div class="form-group">
        <div class="col-md-12">
            <strong>Full Name:</strong>
        </div>
        <div class="col-md-6">
            @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <strong>Location:</strong>
        </div>
        <div class="col-md-6">
            @Html.EditorFor(model => model.Location, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            <strong>Contact Number:</strong>
        </div>
        <div class="col-md-6">
            @Html.EditorFor(model => model.Mobile, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            <strong>Email:</strong>
        </div>
        <div class="col-md-6">
            @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <strong>Available Item:</strong>
        </div>
        <div class="col-md-6">
            @Html.DropDownList("Item", EnumHelper.GetSelectList(typeof(StockItem)), "select an item to order", new {@class = "form-control select-dropdown", id = "item"})
        </div>
    </div>
    <div class="form-group" id="shishaDiv">
        <div class="col-md-12">
            <strong>Available Shisha:</strong>
        </div>
        <div class="col-md-6">
            @Html.DropDownList("ShishaId", null, new {@class = "form-control select-dropdown"})
            @Html.ValidationMessageFor(model => model.ShishaId, "", new {@class = "text-danger"})
        </div>
    </div>
    <div class="form-group" id="flavourDiv">
        <div class="col-md-12">
            <strong>Available Flavour:</strong>
        </div>
        <div class="col-md-6">
            @Html.DropDownList("FlavourId", null, new {@class = "form-control select-dropdown"}) @Html.ValidationMessageFor(model => model.FlavourId, "", new {@class = "text-danger"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <strong>Quantity:</strong>
        </div>
        <div class="col-md-6">
            @Html.EditorFor(model => model.Quantity, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
        </div>
    </div>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/select2.min.js"></script>
    <script>
        $(document)
            .ready(function() {

                // Init select2 for dropdown select
                $('.select-dropdown').select2();
                $("#shishaDiv").hide(0);
                $("#flavourDiv").hide(0);
                var item = $("#item");
                item.change(function() {
                    var sel = $(this).val(),
                        shisha = $("#shishaDiv"),
                        flavour = $("#flavourDiv");
                    if (sel === "0") {
                        flavour.hide(0);
                        shisha.show(100);
                    } else if (sel === "1") {
                        shisha.hide(0);
                        flavour.show(100);
                    } else {
                        shisha.hide(0);
                        flavour.hide(0);
                    }
                });
            });
    </script>
}