@model Delivery.Data.Objects.Entities.AppUser
@{
    Layout = "../Shared/_LayoutForms.cshtml";
    ViewBag.Title = "Details";
    ViewBag.Header = "Application User";
    ViewBag.Subtitle = "Details of Application User";
}

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Firstname)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Firstname)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Middlename)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Middlename)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Lastname)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Lastname)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Email)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Email)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Mobile)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Mobile)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Password)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Password)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Role)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Role)
    </dd>

</dl>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.AppUserId}, new {@class = "btn btn-primary"})
</p>