@model Delivery.Data.Objects.Entities.Flavour
@{
    Layout = "../Shared/_LayoutForms.cshtml";
    ViewBag.Title = "Delete";
    ViewBag.Header = "Shisha Flavour";
    ViewBag.Subtitle = "Delete shisha flavour";
}
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.AvailableQuantity)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.AvailableQuantity)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.SafetyStock)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.SafetyStock)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.UnitAmount)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.UnitAmount)
    </dd>


</dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    }
