@model IEnumerable<Delivery.Data.Objects.Entities.Flavour>

@{
    ViewBag.Title = "Index";
}

<h2></h2>

<p>
    @Html.ActionLink("Create New", "Create",null,new { @class = "btn btn-success"})
</p>
<table class="table table-condensed" id="dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayName("Purchase Flag")
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <i class="fa fa-flag-o"></i>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.FlavourId }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Manage", "Details", new { id = item.FlavourId }, new { @class = "btn btn-default" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.FlavourId }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
